<!DOCTYPE html>
<html lang="en">
<head>
    <title>Showtimes - Movie Business</title>
    <link rel="stylesheet" type="text/css"   href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Showtimes</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="show">Show Timings</a></li>
                <li><a href="unique-features">Experience</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Today's Showtimes</h2>
              
                    <img src="https://cdn.eventcinemas.com.au/cdn/resources/movies/16715/images/largeposter.jpg" alt="Movie Title 1 Poster" width="150">
                    <h3>DUNE Part 2</h3>
                    <p><b>Time: 12:00 PM, 3:15 PM, 6:15 PM, 9:15 PM</p>
          
                    <img src="https://cdn.eventcinemas.com.au/cdn/resources/movies/18800/images/largeposter.jpg" alt="Movie Title 2 Poster" width="150">
                    <h3><b>YODHA</h3>
                    <p>Time: 10:00 AM, 3:00 PM, 6:00 PM</p>
                    
                    <img src="https://cdn.eventcinemas.com.au/cdn/resources/movies/18792/images/largeposter.jpg" alt="Movie Title 1 Poster" width="150">
                    <h3>Shaitaan</h3>
                    <p><b>Time: 3:30 PM, 4:15 PM, 10:15 PM</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Event Cinemas. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>