<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unique Features - Movie Business</title>
    <link rel="stylesheet" type="text/css"   href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Experience</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="show">Show Timings</a></li>
                <li><a href="unique-features">Experience</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div class="feature">
                <img src="https://cdn.eventcinemas.com.au/cdn/resources/experience/goldclass/about/images/09c4d0e8-0e57-4755-9f7e-02acace8ef7d.jpg" alt="Comfortable Seats" width="200">
                <h2 style="color:White">RELAX</h2>
                <p style="color:White">With wall-to-wall screens, fully reclining arm chairs and food and drinks delivered to your seat throughout the movie, get ready to relax and enjoy the best cinema has to offer.</p>
            </div>
            <div class="feature">
                <img src="https://cdn.eventcinemas.com.au/cdn/resources/experience/goldclass/about/images/85585f4f-3d47-4258-9be2-35a8f91ea441.jpg" alt="State-of-the-art Sound System" width="200">
                <h2 style="color:White">INDULGE</h2>
                <p style="color:White">Sweeten the experience with our indulgent Gold Class menu featuring a contemporary food selection from our chef prepared menu.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Event Cinemas. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>